/* body {
   background-image: url("https://picsum.photos/200");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   /* background-size: contain; */
   
/* } */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 
 */ 
